langchain
langchain-community
pandas
openai
langgraph
fastapi
uvicorn
pandas
python-dotenv
dotenv
python-multipart
Jinja2
langchain
langchain-community
langchain-core
langchainhub
tiktoken
langchain-openai
langchain_chroma
langchain-chroma
pymongo
itsdangerous
jinja2
mysql-connector-python
flask
Flask-Session
pysqlite3-binary
